h1{
    color: red;
}
@media screen and(max-width: 500px){
    h1{
        color: blue;
        background-color: blue;
    }
}
/* min-width */

@media screen and (min-width:800px){
    p{
        background-color: red;
        color: white;
        font-weight: bold;
    }
}